// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  body {background-color: rgb(122, 121, 121);}

  .logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
    

    img {
      max-width: 200px;
      background-color: rgb 122, 121, 121;
    }
  }

  .list {
    margin-bottom: 0;
  }
}